@using Microsoft.AspNetCore.Components

<div class="card mt-3">
    <div class="card-body">
        <div><strong>Totalt</strong></div>
        <div class="small">Km: <strong>@TotalMilage</strong></div>
        <div class="small">Antall liter: <strong>@TotalDieselAdded.ToString("F2")</strong></div>
        <div class="small">Sum: <strong>@TotalCost.ToString("F2")</strong></div>
        <hr />
        <div><strong>Gjennomsnitt</strong></div>
        <div class="small">Pris/l: <strong>@AveragePricePerLiter.ToString("F2")</strong></div>
        <div class="small">Forbruk (liter/km): <strong>@AverageDieselConsumption.ToString("F2")</strong></div>
    </div>
</div>

@code {
    [Parameter] public int TotalMilage { get; set; }
    [Parameter] public decimal TotalDieselAdded { get; set; }
    [Parameter] public decimal TotalCost { get; set; }
    [Parameter] public decimal AveragePricePerLiter { get; set; }
    [Parameter] public decimal AverageDieselConsumption { get; set; }
}